body{
    margin: 0;
    padding: 0;
    color: white;
    background: url(Resources/Web-Design-solutions.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    font-family: sans-serif;

}

.resetfailed{
    width: 400px;
    height: 350px;
    background: rgba(0,0,0,0.5);
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%,-50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.resetfailed input[type="submit"]{
    border: none;
    outline: none;
    margin-top: 15px;
    height: 40px;
    background: #fb2525;
    color: #ffffff;
    font-size: 18px;
    border-radius: 10px;
}

ul{
    list-style: none;
}